.debug {
  color: red;
  font-size: 10pt;
}

.word, .blank, .sorting-test-items {
  border-radius: 10px;
  font-size: 13pt;
}

.blank-words-test {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}

.word {
  float: left;
  padding: 0.2em;
  margin: 2px 2px 2px 2px;
  background: white;
  line-height: 1.5;
}

.dropped {
  display: inline;
  float: inherit;
}

.blank {
  display: inline;
  width: 150px;
  background: #f5f5f5;
  padding: 4px;
}

.blank-words-left {
  width: 100%;
  background: #E4E4E4;
  float: left;
  font-size: 13pt;
}

.text-with-blank {
  padding: 10px;
}

.text-with-blank p {
  line-height: 1.5;
}

.blank-words-right {
  width: calc(100% - 20px);
  background: #D9D9D9;
  padding: 10px 10px 10px 10px;
  float: right;
}

ul#profile-info {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

div#debug-info {
  margin-top: 30px;
  border-top: 1px solid #000;
}
