/*
 *
 * Colors: https://coolors.co/437c90-255957-eeebd3-a98743-f7c548
 * #437c90
 * #255957
 * #eeebd3
 * #a98743
 * #f7c548  #e4aa1a
 *
 * #151515
 */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
  color: #151515;
  background: #437c90;
  background-image: url('images/bg-paper-blue.png');
}

div.container {
  -webkit-box-shadow: 0px 8px 15px -1px rgba(0,0,0,0.41);
  box-shadow: 0px 8px 15px -1px rgba(0,0,0,0.41);
}

div.row {
  padding: 10px;
}

div.row.row-header {
  /* background: #255957; */
  color: white;
  text-align: center;
  background: rgb(29,69,67);
  background: linear-gradient(90deg, rgba(29,69,67,1) 0%, rgba(37,89,87,1) 35%, rgba(76,159,156,1) 100%);
}

div.row.row-header h3 {
  margin-bottom: 0;
  display: inline;
  position: relative;
  top: 5px;
  font-size: 40px;
  font-family: 'Parisienne', cursive;
}

@media screen and (max-width: 400px) {
  div.row.row-header h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 330px) {
  div.row.row-header h3 {
    top: 2px;
    font-size: 18px;
  }
  div.row.row-header img {
    width: 30px !important;
    height: auto !important;
  }
}

@media screen and (max-width: 230px) {
  div.row.row-header img {
    display: none !important;
  }
}

div.row.row-header img.logo {
  width: 50px;
  height: auto;
  display: inline;
  margin-right: 10px;
}

div.row.row-user {
  /* background: #f7c548; */
  color: #151515;
  background: rgb(235,182,52);
  background: linear-gradient(90deg, rgba(235,182,52,1) 0%, rgba(247,197,72,1) 35%, rgba(231,208,152,1) 100%);
}

div.row.row-board {
  background: white;
}

div.row.row-footer {
  background: #a98743;
  color: white;
}

div.row.row-footer a {
  color: white;
}

div.row.row-footer p {
  margin-bottom: 0px;
}

ul#profile-info {
  margin-bottom: 0;
}

ul#profile-info .fa {
  color: #e4aa1a;
}

.word, .blank, .sorting-test-items {
  border-radius: 10px;
  font-size: 13pt;
}

.blank-words-test {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  border: 2px solid #cccccc;
}

.word {
  float: left;
  padding: 0.2em 0.4em;
  margin: 2px 2px 2px 2px;
  background: white;
  line-height: 1.8;
}

.dropped {
  display: inline;
  float: inherit;
}

.blank {
  display: inline;
  width: 150px;
  background: #f5f5f5;
  padding: 4px;
}

.blank-words-left {
  width: 100%;
  background: #E4E4E4;
  float: left;
  font-size: 13pt;
}

.text-with-blank {
  padding: 10px;
}

.text-with-blank p {
  line-height: 1.8;
}

.blank-words-right {
  width: 100%;
  background: #D9D9D9;
  padding: 10px 10px 10px 10px;
  float: right;
}

p.dp4-displayed-verse {
  background: #f5f5f5;
  background-color: #f5f5f5 !important;
  padding: 20px;
  border: 2px solid #e4e4e4;
  border-radius: 20px;
}

p.dp4-displayed-verse::first-letter {
  font-weight: bold;
  color: #151515;
  background-color: #e4e4e4;
  padding: 5px;
  font-size: 200%;
  margin-right: 3px;
}

.app-hidden {
  display: none;
}

div#exercise-board p.hidden-text {
  padding: 20px;
  background: #f5f5f5;
  border: 2px solid #e4e4e4;
}

div.hint button {
  margin-top: 5px;
}

button.dp4-confirm-profile-dialog {
  float: right;
  margin-bottom: 10px;
}

/* Popup Styles*/
.user-profile-dialog {
    background-color: rgba(76, 76, 76, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.popup-container {
  background-color: white;
}

button.press-letter.btn.btn-primary {
    font-family: monospace !important;
    margin-bottom: 5px;
}

li#info-nickname span,
li#info-reset span {
  cursor: pointer;
}

p.text-hint {
  background-color: #437c90;
  color: white;
  padding: 10px;
  margin-top: 10px;
}
